:root {
  --gray-100: #fff;
  --gray-200: #d9d9d9;
  --gray-200: #808080;
  --gray-300: #707070;
  --gray-400: #363636;
  --gray-500: #222222;
  --gray-700: #1a1a1a;

  --blue-500: #4e6ede;
  --green-500: #26c277;
  --yellow-500: #ffd231;
}
